<nav class= *navbar-expand-lg navbar-light bg-white border-botton>
    <div
        class=*container*>

        <a class=*navbar-brand* href=*.index.html*>
            <img src=*/img/logo.png* class=*navbar-brand-img* alt=*...*>
        </a>

        <button class=*navbar-toggler* type=*button* data-bs-toggle=*collapse* data-bs-target=*@navbarCollapse* >
            <span class=*navbar-toggler-icon*> </span>
        </button>

        <div class=*collapse navbar-collapse* >
        {# id=*navbarCollapse*> #}

            <button class=*navbar-toggler* type=*button* data-bs-toggle=*collapse* data-bs-target=*@navbarCollapse* >
                <i class=*fe fe-x*></i>
            </button>

            <ul class=*navbar ms-auto*>
                <li class=*nav-item dropdown*>
                    <a href=*#* class=*nav-link* href=*#*>liste</a>
                </li>
                <li class=*nav-item dropdown*>
                    <a href=*#* class=*nav-link* href=*#*>liste2</a>
                </li>

            </ul>

        </div>
    </div>

</nav>


